<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Nowmov Newsletter</title>
		<style>
		.clearfix{ clear: both; float: none;}
		a:hover {
			text-decoration: underline !important;
		}
		td.promocell p { 
			color:#e1d8c1;
			font-size:16px;
			line-height:26px;
			font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
			margin-top:0;
			margin-bottom:0;
			padding-top:0;
			padding-bottom:14px;
			font-weight:normal;
		}
		td.imageblock{
			padding: 10px;
			overflow: hidden;
		}
		td.contentblock h1, .h1 {
			color:#222222 !important;
			font-size:22px;
			line-height:24px;
			font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
			margin-top:30px;
			margin-bottom:20px;
			padding-top:0;
			padding-bottom:0;
			font-weight:bold;
		}
		td.contentblock h1 a, .h1 a {
			color:#222222;
			text-decoration:none;
		}		
		td.contentblock h2, .h2 {
			color:#F95133 !important;
			font-size:18px;
			line-height:24px;
			font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
			margin-top:0px;
			margin-bottom:10px;
			padding-top:0;
			padding-bottom:0;
			font-weight:bold;
		}
		td.contentblock h2 a, .h2 a {
			color:#F95133;
			text-decoration:none;
		}
		td.contentblock h3, .h3 {
			color:#666666 !important;
			font-size:14px;
			line-height:20px;
			font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
			margin:0px;
			padding:0px;
			font-weight:normal;
		}
		td.contentblock h3 a, .h3 a{
			color:#666666;
			text-decoration:none;
		}

		td.contentblock p { 
		  	color:#888888;
			font-size:14px;
			line-height:19px;
			font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
			margin-top:0;
			margin-bottom:12px;
			padding-top:0;
			padding-bottom:0;
			font-weight:normal;
		}
		td.contentblock p a { 
		  	color:#4A7698; /* #3ca7dd */
			text-decoration:none;
		}
		.channel{  
      border: 1px solid #BDBDA3;
		}
		.galleryimage{ 
			border: 1px solid #CCC;
		}
		.ellipsis {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.mobileonly{ display: none; }
		.browseronly{ display: block; }
		
		#channels h2{ padding:0px 5px; font-weight: bold; }
		#channels h3{ padding:0px 5px; font-weight: normal; }
		#channels td.imageblock{ padding: 1px; }

		@media only screen and (max-device-width: 480px) {
			.mobileonly{ display: block; }
			.browseronly{ display: none; }
		     div[class="header"] {
		          font-size: 16px !important;
		     }
		     table[class="table"], td[class="cell"] {
		          width: 300px !important;
		     }
			table[class="promotable"], td[class="promocell"] {
		          width: 325px !important;
		     }
			td[class="footershow"] {
		          width: 300px !important;
		     }
			table[class="hide"], img[class="hide"], td[class="hide"] {
		          display: none !important;
		     }
		     img[class="divider"] {
			      height: 1px !important;
			 }
			 td[class="logocell"] {
				padding-top: 15px !important; 
				padding-left: 15px !important;
				width: 300px !important;
				text-align: center;
			 }
		     img[id="screenshot"] {
		          width: 325px !important;
		          height: 127px !important;
		     }
			img[class="galleryimage"] {
				  width: 50px !important;
		          height: 50px !important;
			}
			td.contentblock p { 
				font-size:16px !important;
				line-height:19px;
			}			
			p[class="reminder"] {
				font-size: 11px !important;
			}
			h2[class="secondary"] {
				line-height: 22px !important;
				margin-bottom: 15px !important;
				font-size: 18px !important;
			}
			.channel{ 
				border: 10x solid transparent;
			}
		}
		</style>
	</head>
	<body bgcolor="#BDBDA3" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing: antialiased;width:100% !important;-webkit-text-size-adjust:none; background-color: #BDBDA3;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0" >
		<tr>
			<td width="100%">
		
			<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="table" style="border-bottom: 1px solid #AAA;">
				<tr>
					<td class="logocell" style="padding: 30px 0px;">
						<div style="text-align: center;">
							<a href="http://beta.<%= Aji.conf['TLD'] %>">
								<img src="http://beta.nowmov.com/images/logos/nowmov-logotype-white.png" width="187" height="28" alt="Nowmov" style="-ms-interpolation-mode:bicubic;">				
							</a>		
						</div>

					</td>

				</tr>
			</table>
		
			<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="table" bgcolor="#E7E7D6">
				<tr>
					<td>
						<img border="0" src="http://beta.<%= Aji.conf['TLD'] %>:5000/images/email/spacer.gif" width="1" height="30" class="divider"><br>
						<div style="width: 600px; margin: auto;">
								<%= yield %>	
						</div>
						<img border="0" src="http://beta.<%= Aji.conf['TLD'] %>:5000/images/email/spacer.gif" width="1" height="30" class="divider"><br>			
					</td>
				</tr>
			</table>

		
			<table bgcolor="#F2F2F2" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-top: 1px solid #DDDDDD;">
			<tr>
				<td>
				
					<img border="0" src="http://beta.<%= Aji.conf['TLD'] %>:5000/images/email/spacer.gif" width="1" height="15"><br>
				
					<table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="table">
					<tr>
						<td width="600" nowrap  class="cell">
						
							<table width="600" cellpadding="0" cellspacing="0" border="0" class="table">
							<tr>
								<td width="380" valign="top" class="footershow">
								
									<img border="0" src="http://beta.<%= Aji.conf['TLD'] %>:5000/images/email/spacer.gif" width="1" height="8"><br>  
								
									<p style="color:#8E8E7F;font-size:12px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:15px;padding-top:0;padding-bottom:0;line-height:18px;" class="reminder">You are receiving this email from <a href="http://www.nowmov.com/" style="color:#4A7698;text-decoration:underline;">nowmov</a>.</p>
									<p style="color:#c9c9c9;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;">
										<a href="http://nowmov.com/download" style="color:#4A7698;text-decoration:none; font-weight: bold;">Download</a>
										&nbsp;&nbsp;|&nbsp;&nbsp;
										<a href="mailto: info@nowmov.com?subject=Hello" style="color:#4A7698;text-decoration:none;">Contact Us</a>
										&nbsp;&nbsp;|&nbsp;&nbsp;
										<a href="%unsubscribe_url%" style="color:#4A7698;text-decoration:none;">Unsubscribe</a>
									</p>
								
								</td>
								<td align="right" width="220" style="color:#8E8E7F;font-size:12px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-shadow: 0 1px 0 #F4F4ED;" valign="top" class="hide">
								
									<table cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td><a href="http://twitter.com/nowmov"><img border="0" src="http://beta.<%= Aji.conf['TLD'] %>:5000/images/email/twitter.gif" width="42" height="32" alt="Follow us on Twitter"></a></td>
										<td><a href="http://www.facebook.com/nowmov"><img border="0" src="http://beta.<%= Aji.conf['TLD'] %>:5000/images/email/facebook.gif" width="32" height="32" alt="Visit us on Facebook"></a></td>
									</tr>
									</table>
								
									<img border="0" src="http://beta.<%= Aji.conf['TLD'] %>:5000/images/email/spacer.gif" width="1" height="10"><br><p style="color:#8E8E7F;font-size:11px;line-height:15px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-weight:bold;">Nowmov</p><p style="color:#8E8E7F;font-size:11px;line-height:15px;font-family:Helvetica,Arial,sans-serif;margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-weight:normal;">Sent with love from San Francisco, USA</p></td>
							</tr>
							</table>
						
						</td>
					</tr>	
			   		</table>
		
					<img border="0" src="http://beta.<%= Aji.conf['TLD'] %>:5000/images/email/spacer.gif" width="1" height="15"><br>
				
			   </td>
			</tr>
			</table>
			
			</td>
		</tr>
		</table>  	   			     	 
	
	</body>
</html>