<repeater>
	<% if @user %>
		<layout label="User">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td width="100%">
			
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td class="contentblock" style="padding-left: 5px;">

							<a href="http://beta.<%= Aji.conf['TLD'] %>/channel/<%= @user.favorite_channel_id %>" class="h2" style="color:#F95133; font-size:20px; font-weight: bold; text-decoration: none;">Hello <%= @user.first_name %>!</a>											<multiline label="Description">
								<p style="font-size: 18px; line-height: 1.5;">We know there's a lot to look at on nowbox, so we've been searching high and low for a few videos we think you'd really like.  Here's what we came up with.</p>
								<p style="font-size: 16px; font-weight: bold; margin: 0px;"><i>- the nowbox team</i></p>
							</multiline>

						</td>
					</tr>
					</table>
			
				</td>
			</tr>
			</table>  
			</layout>	
	<% end %>
	
	<%= erb :'_shares.html' %>
	<%= erb :'_recent_channels.html' %>


<!--
	<img border="0" src="http://beta.:5000/images/email/spacer.gif" width="1" height="30" class="divider"><br>

	<layout label="Article, tip or resource">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td width="100%" bgcolor="">

					<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td bgcolor="" class="contentblock">

							<h2 class="secondary"><strong><singleline label="Tip title">Tip</singleline></strong></h2>

						</td>
					</tr>
					</table>

				</td>
			</tr>
		</table>	
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td bgcolor="#ef3101" nowrap><img border="0" src="http://beta.:5000/images/email/spacer.gif" width="5" height="1"></td>
				<td width="100%" bgcolor="#F5F5F5">
			
					<table width="100%" cellpadding="20" cellspacing="0" border="0">
					<tr>
						<td bgcolor="" class="contentblock">
							<multiline label="Description"><p>Description</p></multiline>
						</td>
					</tr>
					</table>
			
				</td>
			</tr>
		</table>  
	</layout>
-->

</repeater>      