<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
		<title>nowbox | <%= @video.title %></title>
		<%= erb :_layout_head %>
		
	  <meta property="title" content="<%= h @video.title %>" />
	  <meta property="description" content="<%= h @video.description %>" />
	  <link rel="image_src" href="<%= h @video.thumbnail_uri %>" />
	  
	  <meta property="og:url" content="<%= @share_url %>" />
	  <meta property="og:title" content="<%= h @video.title %>" />
		<meta property="og:type" content="article" />
	  <meta property="og:description" content="<%= h @video.description %>" />
	  <meta property="og:image" content="<%= h @video.thumbnail_uri %>" />
	  
	  <meta name="medium" content="video" />	
	  	
		<meta name="viewport" content="width=960">
		
</head>
<body id="video_layout">
	<div id="video_page" role="main">
		<%= yield %>
	</div>
	<%= erb :_layout_scripts %>	
</body>
</html>