<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<%= erb :_layout_head %>
	<meta name="viewport" content="width=960">
</head>
<body>
	<div class="stickywrapper">
		<header>
			<%= erb :_header %>
		</header>

		<div id="main" role="main">
			<%= yield %>
		</div>
		<div class="push"></div>
	</div>
	<footer>
		<%= erb :_footer %>
	</footer>

	<%= erb :_layout_scripts %>
</body>
</html>