<div id="video">
	<div class="wrapper" style="padding-top: 0px;">
		<%= erb :_call_to_action_social %>
	</div>	
	<% @share.inspect %>
	<% @user.inspect %>
	<% @video.inspect %>

	<div id="sharer" class="wrapper">
		<div class="message">
			<span class="quotes">&#8220;</span><%= @share.message %><span class="quotes">&#8221;</span><span class="message_sharer"> - <%= @user.first_name %></span>
		</div>	
	</div>
	
  <div id="embed">
  	<% if @video.source == :youtube %>
			<iframe width="800" height="400" src="http://www.youtube.com/embed/<%= @video.external_id %>?rel=0&hd=1&modestbranding=1&autohide=1&showinfo=0&fs=1" frameborder="0" allowfullscreen></iframe>
		<% end %>
  </div>
 
	<div id="info" class="wrapper">
		<div id="video_info">
			<div class="title"><%= @video.title %></div>
			<div class="description truncateme"><%= @video.description %></div>		
		</div>
		<div id="share_buttons">
			<div class="fblike">
				<iframe src="http://www.facebook.com/plugins/like.php?app_id=196334653750817&amp;href=http%3A%2F%2Fnowmov.com/<%= params[:share_id]%>&amp;send=false&amp;layout=box_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:70px;" allowTransparency="true"></iframe>				
			</div>
			<div class="plusone" style="width: 60px; height: 70px;">
				<g:plusone size="tall" href="http://nowmov.com/<%= params[:share_id] %>"></g:plusone>
			</div>
			<div class="tweet">
				<iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url=http://nowmov.com/<%= params[:share_id] %>&count=vertical&via=nowmov&related=fahdoo:Nowmov UX Engineer&text=<%= "Watch this video now! '" + @video.title + "'" %>" style="width:60px; height:70px;"></iframe>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<% if @user_shares.count > 0 %>
	<ul id="user_videos" class="wrapper">
		<h2>Suggested videos</h2>
		<% @user_shares.each do |user_share| %>
			<li>
				<a href="/<%= user_share.id %>">
					<div class="image">
						<div class="inset_shadow"></div>
						<img src="<%= user_share.video.thumbnail_uri %>" />
						<div class="viewcount round-corners-3"><%= user_share.video.view_count %> views</div>
					</div>
					<div class="title"><%= user_share.video.title %></div>
				</a>
			</li>
		<% end %>
		<div class="clearfix"></div>
	</ul>		
	<% end %>
</div>