  <div id="video_page" role="main">
    <div id="video">
      <div id="header" class="wrapper">
        <div class="image" style="display: none;">
          <a href="/download"><img src="/images/graphics/ipad-chrome-small.png" height="48px" /></a>
        </div>
        <div class="profile_pic">
          <img src="<%= @profile_pic %>" width="48px" height="48px">
        </div>
        <dl class="blurb">
          <dt>
            <%=  @username %> shared this video using the <em>NOWBOX</em> iPad app! Join them!
          </dt>
          <dd>
            <%= @message %>
          </dd>
        </dl>
        <div class="app_store">
          <a href="/download">
            <img src="/images/new/app_store_button.png">
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div id="embed">
        <iframe width="900" height="510" src="http://www.youtube.com/embed/<%= @video.external_id %>?rel=0&hd=1&modestbranding=1&autohide=1&showinfo=0&fs=1&autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
      <div id="info" class="wrapper">
        <div class="logo">
          <a href="/">
            <img src="/images/new/logo_small.png">
          </a>
        </div>
        <div id="video_info">
          <div class="wrap">
            <div class="title">
              <%= @video.title %>
            </div>
            <div class="description truncateme">
              <%= @video.description %>
            </div>
          </div>
        </div>
        <div id="share_button">
          <a href="#" onClick="$(this).hide(); $('#share_buttons').show();">
            <img src="/images/new/share_button.png">
          </a>
          <div id="share_buttons">
            <div class="fblike">
              <iframe src="http://www.facebook.com/plugins/like.php?app_id=196334653750817&amp;href=<%= @link %>&amp;send=false&amp;layout=box_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:60px; height:70px;" allowTransparency="true"></iframe>
            </div>
            <div class="plusone" style="width: 60px; height: 70px;">
            <g:plusone size="tall" href="<%= if @share then "/shares/#{@share.id}" else "/videos/#{@video.id}" end%>"></g:plusone>
            </div>
            <div class="tweet">
              <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.html?url=href=<%= @link %>&count=vertical&via=nowbox&related=nowbox:Your Personalized TV Guide&text=Watch this video! &#x27;<%= @video.title %>&#x27;" style="width:60px; height:70px;"></iframe>
            </div>
            <div class="close">
              <a href="#" onClick="$('#share_buttons').hide(); $('#share_button > a').show();">
                x
              </a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div id="shuffle_button">
          <a href="/random">
            <img src="/images/new/shuffle_button.png">
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="wrapper" style="display: none;">
        <div class="appstore">
          <a href="/download" class="opacity_transition">
            <img src="/images/graphics/appstore-gray.png" height="80px"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>